extends layout

block content
  h1(class="page-header")= title
  div.container
      img(src= "/images/logo.jpeg")
      p This is a sample app for Nutanix Platform.
      a(href='/users') User Information
