$b_radius: 3px;
$big_radius: 10px;
$box_bg_left: 5px;
$box_bg_top: 5px;
$form_spacer: 165px;

$bg_tooltip_orange: rgba( 255, 234, 200, 0.5 );
$border_tooltip_orange: #ff810f;
$shadow_tooltip_orange: 0px 0px 8px 3px rgba( 255, 129, 15, 0.2 );

$bg_tooltip_gray: rgba( 0, 0, 0, 0.5 );
$border_tooltip_gray: #fff;
$shadow_tooltip_gray: 0px 0px 8px 3px rgba(0,0,0,0.5);

$dark_border: #0d1f6f;
$box_background: #f3f3f3;

$overlay_bg: rgba( 0, 0, 0, 0.5 );
$overlay_hover: #b1e1fc;

$main_theme: "blue";